<div class="containerContactme">
  <form>
    <h4>Contact Me</h4>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{input class="form-control" value=postTitle placeholder="Full Name"}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{input class="form-control" value=postTitle placeholder="Email"}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{textarea class="form-control" value=postBody placeholder="Write your message here..."}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <button class="btn btn-default" {{action 'newPost'}}>save</save>
        </div>
      </div>
    </form>
  </div>





  {{outlet}}
