<div class="containerContactme">
  <form>
    <p>Contact Me</p>
    <div class="row1">
      <div class="col-md-8 col-md-offset-2">
        {{input class="form-control" value=postName placeholder="Full Name"}}
      </div>
    </div>

    <div class="row1">
      <div class="col-md-8 col-md-offset-2">
        {{input class="form-control" value=postEmail placeholder="Email"}}
      </div>
    </div>

    <div class="row1">
      <div class="col-md-8 col-md-offset-2">
        {{textarea class="form-control" value=postMessage placeholder="Write your message here..."}}
      </div>
    </div>
    <div class="row1">
      <div class="col-md-2 col-md-offset-2">
        <button class="btn btn-default" {{action 'sendEmail'}}>Send Message</button>
        </div>
      </div>
    </form>

    <p>Don't be a stranger.</p>

    <p>I'm always looking to work with creative and passionate people, so let me know how I can help you.
      In the meantime, follow me on twitter. <a href="https://twitter.com/redrayofsun"><i class="fa fa-twitter"></i></a>
    </p>

    <a class="twitter-timeline" href="https://twitter.com/redrayofsun" data-widget-id="584043665393229824" seamless>Tweets by @redrayofsun</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  </div>





  {{outlet}}
